<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.anceldev.LaRocaPlay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>larocaplayapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.218895273182-badvkslb7jo535010u548069od1t0d7a</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>218895273182-badvkslb7jo535010u548069od1t0d7a.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>customBlack</string>
		<key>UIImageName</key>
		<string>half-dotted-circle-play</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
